<form  method="post" action='@Url.Action("ActualizarClave","Login")' class="login-form">

    <div class="row">
        <div class="input-field col s12 center">
            <img src="~/images/login-logo.jpg" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Municipalidad Anco - La Mar</p>
        </div>
    </div>
    <input type="hidden" name="usuarioId" value="@ViewBag.UsuarioId" />
    <div class="row margin">
        <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" name="clave" type="password">
            <label for="password" class="">Nueva Clave</label>
        </div>
    </div>

    <div class="row margin">
        <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password-again" name="clave1" type="password">
            <label for="password-again">Confirmar Clave</label>
        </div>
    </div>
    
    <div class="row">
        <div class="input-field col s12">
            <button type="submit" data-ajax="true" class="btn waves-effect waves-light col s12">
                CAMBIAR CLAVE
            </button>
        </div>
    </div>
</form>